{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<section id="section-presentation">
		<div class="bloc-presentation">
			<div class="bloc-presentation-h2">
				<h2>UNE NOUVELLE VISION DU VOYAGE</h2>
			</div>
			<h1>Voyagez responsable tout en économisant chez les commerçant locaux</h1>
			<p>Avec lämna, économisez tout en voyageant les yeux fermés grâce à nos itinéraires responsables. Partez à la rencontre des monuments historiques de nos régions et des commerçants de proximité français.</p>
			<div class="btn-lamna-full">
				<a class="nav-link mx-2" href="#">
					<span class="mr-3 text-white">Partons à l’aventure !</span>
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#FFF" class="bi bi-arrow-right" viewbox="0 0 16 16">
						<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
					</svg>
				</a>
			</div>
		</div>
	</section>
	<section id="mobile-app-teasing">
		<div class="block-mobile-teasing">
			<div>
				<img class="picture-mobiles screenMobileXL" src="{{ asset('images/background/mobilesScreenXL.png') }}" alt="Vision Lämna sur les mobiles">
			</div>
			<div>
				<img class="picture-mobiles screenMobileSM" src="{{ asset('images/mobiles/mobilesScreenSM.png') }}" alt="Vision Lämna sur les mobiles">
			</div>
			<div class="picture-store-disponibility screenMobileDispoXL">
				<img src="{{asset('images/storeDisponibility.png')}}" alt="Disponibilité sur le store" />
			</div>
			<div class="picture-store-disponibility screenMobileDispoSM">
				<img src="{{asset('images/mobiles/storeDisponibilityMobile.png')}}" alt="Disponibilité sur le store sur mobile" />
			</div>
		</div>
	</section>
  <section>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <p class="concept">Concept</p>
      <h2 class="text-center mt-3">Notre concept en 3 étapes</h2>
      <p class="text-center">Avant de vous lancer, découvrez le fonctionnement du projet LÄMNA. Chaque étape vous rapproche du monde du voyage plus durables et local.</p>
    </div>
    <div class="d-flex flex-md-row flex-column m-4">
      <div class="doublephones d-flex justify-content-center align-items-center">
        <img src="{{ asset('images/mobiles/doublephones.png') }}" alt="">
      </div>
      <div class="m-4">
        <ul class="text-decoration-none list-unstyled">
          <li>
            <p class="text-secondary-green fw-medium">
              <span class="fw-bold mr-1">1.</span> Choisissez votre prochaine destination
            </p>
            <p>
              Parcourez notre liste de destination et découvrez votre itinéraire ainsi que l’ensemble des points d’intérêt.
            </p>
          </li>
          <li>
            <p class="text-secondary-green fw-medium">
              <span class="fw-bold mr-1">2.</span> Réservez votre moyen de transport responsable
            </p>
            <p>
              Choisissez le transport responsable qui vous arrange le plus : train, bus, covoiturage... et réservez vos billets.
            </p>
          </li>
          <li>
            <p class="text-secondary-green fw-medium">
              <span class="fw-bold mr-1">3.</span> Visitez & économisez tout en faisant travailler le commerce local
            </p>
            <p>
              Profitez de réductions chez les commerçants locaux partenaires de notre application tout en respectant l’environnement grâce aux éco-transports.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <div>
      <p>
      Chiffres clés
      </p>
      <h2>
      Quelques données intéressantes
      </h2>
      <p>
      Urna nisl facilisis diam sollicitudin purus in. Sed quisque phasellus nulla augue non sed proin amet. Cursus mauris malesuada felis integer parturient gravida scelerisque pellentesque.
      </p>
    </div>
    <div>
      <div>
        <h3>11 %</h3>
        <p>des émissions de gaz à effet de serre en France sont générées par le tourisme</p>
        <p>Source :  Les Echos</p>
      </div>
      <div>
        <h3>77 %</h3>
        <p>des ces émissions proviennent des transports</p>
        <p>Source : Ademe</p>
      </div>
      <div>
        <h3>2 %</h3>
        <p>des emplois en France sont issus des petits commerces</p>
        <p>Source : Cairn.info</p>
      </div>
    </div>
  </section>
{% endblock %}
