<footer>
<div>
 <img src="{{ asset('images/logos/lamna-icon.png') }}" alt=""> 
  <h2>lämna</h2>
</div>
  <div>
    <ul>
      <li>Mentions légales</li>
      <li>Politique de confidentialité</li>
      <li>Préférences de confidentialité</li>
    </ul>
    <img src="{{ asset('images/logos/arrow_up.png') }}" alt="">
  </div>
  <hr/>
  <div>
  <ul>
    <li>
    <img src="{{ asset('images/logos/ic_outline-tiktok.png') }}" alt="">
    </li>
    <li>
    <img src="{{ asset('images/logos/mdi_instagram.png') }}" alt="">
    </li>
    <li>
    <img src="{{ asset('images/logos/mdi_facebook.png') }}" alt="">
    </li>
    <li>

    <img src="{{ asset('images/logos/mdi_linkedin.png') }}" alt="">
    </li>
  </ul>
  <p>
  © 2022 lämna | Tous droits réservés
  </p>

  </div>

</footer>
