{% extends 'base.html.twig' %}

{% block title %}Blog
{% endblock %}

{% block body %}
	<header class="header-blog">
		<div class="header-content">
			<p class="concept">Blog</p>
			<h2 class="title-blog">L’actualité du côté de lämna</h2>
			<p class="text-section-blog">Découvrez le monde du voyage éco-responsable avec le blog lämna. Astuces, destinations durables, et trésors locaux vous attendent pour une exploration responsable et enrichissante.</p>
			<div></header>
			<section id="section-filters" class="mb-3">
				<p class="title-filters">Trier par catégories</p>
				<div class="box-filters">
					<ul>
						<li class="filters">
							{% for filter in filters %}
								{% if app.request.get('filter') == filter %}
									<a href="{{path('blog_all_articles', {'filter': filter})}}" class="filter active-filter">{{filter | upper}}</a>
								{% else %}
									<a href="{{path('blog_all_articles', {'filter': filter})}}" class="filter">{{filter | upper}}</a>
								{% endif %}

							{% endfor %}
						</li>
					</ul>
				</div>
			</section>
			<section class="section-blog">
				<p class="concept">Blog</p>
				<h2 class="title-blog">L’actualité du côté de lämna</h2>
				<p class="text-section-blog">Découvrez le monde du voyage éco-responsable avec le blog lämna. Astuces, destinations durables, et trésors locaux vous attendent pour une exploration responsable et enrichissante.</p>
				<div class="articles-blog">
					{% if posts %}
						{% for post in posts %}
							<div class="article">
								<div class="card-image"><img src="{{asset("images/articles/post_featured_images/#{post.getFeaturedImage()}")}}" alt="Photo de l'article" width="300px"/></div>
								<div class="content-article">
									<div
										class="box-label-and-date">
										{# Relation class many to many #}
										{% for category in post.categories %}
											<span class="concept">{{category.name}}</span>
										{% endfor %}
										<span class="date-card-article">{{post.createdAt |format_datetime('short', 'none', locale='fr')}}</span>
									</div>
									<div class="description-article">{{post.title}}
									</div>
									<a class="nav-link" href="{{ path('blog_details_article', {slug: post.slug, id: post.id}) }}">Lire l'article
										<span>
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewbox="0 0 16 16">
												<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
											</svg>
										</span>
									</a>
								</div>
							</div>
						{% endfor %}
					{% else %}
						{% include "partials/notArticle.html.twig" %}
					{% endif %}

					<div></div>
				</section>
			{% endblock %}
